footer {
  .contact {
    font-weight: 700;
  }
  .contact-form {
    label {
      @include hideText;
    }
  }
  .subtite {
    text-align: center;
    background: #111827;
    color: #fff;
    padding: 10px;
  }
}
