@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
img {
  width: 100%;
}
#name-section {
  transition: 1s all ease;
}
a {
  cursor: pointer;
  text-decoration: none;
}
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: "Poppins", sans-serif;
}
.allahName {
  @include home-img();
}
.holyProhpetHazratMuhammadPeaceBeUponHim {
  @include home-img();
}

#top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 14px;
  border: none;
  outline: none;
  color: $white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  background-color: $light-green;
}
#down-arrow {
  margin-top: 15px;
  background: $light-green;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.5s ease-in;
  @include home-img();
  &:hover {
    transform: scale(0.8);
    transition: 0.5s ease-in;
  }
  i {
    color: $white;
  }
}
.name-btn {
  border-radius: 4px;
  background-color: $light-green;
  border: none;
  color: $white;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px 30px;
  @include btn-hover();
  span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    &::after {
      content: "\00bb";
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
  }
}
.translation {
  font-weight: 700 !important;
}
