@import "maxbreakpoint";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
img {
  max-width: 100%;
}
#name-section {
  transition: 1s all ease;
}
iframe {
  width: 100%;
  margin: 20px auto;
  aspect-ratio: 16/9;
}
a {
  cursor: pointer;
  text-decoration: none;
}
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: "Poppins", sans-serif;
}
.allahName {
  @include home-img();
}
.holyProhpetHazratMuhammadPeaceBeUponHim {
  @include home-img();
}
html {
  scroll-behavior: smooth;
}
.translation {
  font-weight: 700 !important;
}
// Custom Scrollbar
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: $grey;
  border-color: 1px solid $grey;
  border-radius: 5px;
  &:hover {
    background-color: $darkblue;
  }
}

.container {
  max-width: 1440px;
  margin: 0 80px;
  @media (max-width: $tablet) {
    margin: 0 40px;
  }
  @media (max-width: $tablet-small) {
    margin: 0 20px;
  }
}
