/* simple contact form */
.contact-form {
  background: $darkblue;
  max-width: 700px;
  margin: 0 auto;
  .wrapper {
    @media (max-width: 600px) {
      padding: 0;
    }
  }
  .form-mid {
    background: transparent;
    border-radius: 4px;
    .field {
      margin-bottom: 20px;
    }
    form {
      input,
      textarea {
        background: #f8f9fa;
        border: 2px solid rgba(216, 216, 216, 0.3);
        color: #777;
        font-size: 16px;
        padding: 12px 15px;
        width: 100%;
        border-radius: 4px;
        height: 55px;
        background: $white;
        &:focus {
          box-shadow: none;
          outline: none;
          box-shadow: none;
        }
      }
    }
    textarea {
      resize: none;
      min-height: 140px;
    }
    button.btn-contact {
      @extend %name-btn;
    }

    @media (max-width: 568px) {
      .form-mid {
        padding: 0;
      }
    }
  }
}
