.hero-banner {
  background-image: url("../../assets/images/mosque.jpg");
  position: relative;
  background-position: center;
  background-attachment: fixed;
  .container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .typing-effect {
    font-size: 3em;
    font-weight: bold;
    color: $white;
    font-family: monospace;
    transform: scale(1.4);
    border-right: 2px solid;
    width: 24ch;
    white-space: nowrap;
    animation: typing 4s steps(29), cursor 0.5s step-end infinite alternate;
    overflow: hidden;
    @media (max-width: 667px) {
      font-size: 17px;
    }
  }
  @keyframes typing {
    from {
      width: 0;
    }
  }
  @keyframes cursor {
    50% {
      border-color: transparent;
    }
  }
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  img {
    width: 100%;
    max-width: 40%;
  }
}
.wrapper {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .wrapper {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .wrapper {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    max-width: 1140px;
  }
}
