@import "../components/variables";
.quran {
  margin: 100px;
  position: relative;
  @media (max-width: 425px) {
    margin: 30px;
  }
  .surah {
    background-color: $light-white;
    color: $black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 1s;
    border: 1px solid $grey;
    &:first-child {
      border-bottom: none;
    }
    &:hover {
      background-color: $grey;
    }
    &:after {
      content: "\02795";
      font-size: 13px;
      color: $light-grey;
      float: right;
      margin-left: 5px;
      &:hover {
        background-color: $light-white;
      }
    }
  }
  .quran-surah-title {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    @media (max-width: 425px) {
      font-size: 2rem;
    }
  }
  .active {
    background-color: $light-white;
    &:after {
      content: "\2796";
    }
  }
  .panel {
    padding: 0 18px;
    display: none;
    background-color: $white;
    overflow: hidden;
  }
  .surah-details {
    font-weight: bold;
  }
  @media (max-width: 425px) {
    .quran {
      margin: 30px;
    }
  }
  .surah-tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }

  /* Style the buttons inside the tab */
  .surah-tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }

  /* Change background color of buttons on hover */
  .surah-tab button:hover {
    background-color: #ddd;
  }

  /* Create an active/current tablink class */
  .surah-tab button.active {
    background-color: #ccc;
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
}
