@import "../components/variables";
.quran {
  margin: 100px;
  position: relative;
  @media (max-width: 767px) {
    margin: 30px;
  }
  @media (max-width: 600px) {
    margin: 10px;
  }
  .surah {
    background-color: $light-white;
    color: $black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    transition: all 1s ease;
    border: 1px solid $grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:first-child {
      border-bottom: none;
    }
    &:hover {
      background-color: $grey;
    }
    &:after {
      display: block;
      content: "";
      background-image: url("../images/icons/arrow-down.svg");
      background-size: 16px 16px;
      width: 16px;
      height: 16px;
      transition: all 0.4s ease;
      @media (max-width: 767px) {
        background-size: 14px 14px;
        width: 14px;
        height: 14px;
      }
    }
  }
  .quran-surah-title {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: $darkblue;
    padding-bottom: 20px;
    @media (max-width: 425px) {
      padding-bottom: 10px;
      font-size: 2rem;
    }
  }
  .active {
    background-color: $light-white;
    &:after {
      transform: rotate(-180deg);
    }
  }
  .panel {
    padding: 0 18px;
    display: none;
    background-color: $white;
    overflow: hidden;
    @media (max-width: 767px) {
      padding: 0;
    }
  }
}
