@import "../components/typography";
@import "../components/mixins";
@import "../components/variables";
.wallpaper {
  font-family: "Kaushan Script", cursive;
  
  .row {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  -ms-flex: 25%; 
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
button{
  padding: 10px 30px;
  background: $light-white;
}
img{
  transition: 1s all ease-in;
  overflow: hidden;
  &:hover{
    transform: scale(1.3);
    transition: 1s all ease-in;
  }
}
}
