.wallpaper {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .static {
    position: static;
    margin: 0 auto;
  }
  .cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .owl-carousel {
    .owl-slide {
      position: relative;
      height: 100vh;
      background-color: $light-grey;
    }
    .owl-slide-animated {
      transform: translateX(20px);
      opacity: 0;
      visibility: hidden;
      transition: all 0.05s;
    }
    .owl-slide-animated.is-transitioned {
      transform: none;
      opacity: 1;
      visibility: visible;
      transition: all 0.5s;
    }
    .owl-slide-title.is-transitioned {
      transition-delay: 0.2s;
    }
    .owl-slide-subtitle.is-transitioned {
      transition-delay: 0.35s;
    }
    .owl-slide-cta.is-transitioned {
      transition-delay: 0.5s;
    }
    .owl-dots {
      position: absolute;
      left: 50% !important;
      top: 94% !important;
      transform: translateX(-50%);
      .owl-dot {
        outline: none;
        span {
          width: 30px !important;
          height: 6px !important;
          background: $grey;
          border: 1px solid background $black;
          transition: all 0.2s ease;
        }
        &:hover {
          span {
            background: $black;
          }
        }
      }
      .owl-dot.active {
        span {
          background: $black;
        }
      }
    }
    .owl-nav {
      position: absolute;
      width: 100%;
      left: 50%;
      top: 50% !important;
      transform: translateX(-50%);
      margin: 0;
      .owl-prev {
        float: left;
      }
      .owl-next {
        float: right;
      }
      [class*="owl-"] {
        &:focus {
          outline: none;
        }
        &:hover {
          background: transparent;
        }
      }
      svg {
        opacity: 0.3;
        transition: opacity 0.3s;
      }
      button {
        &:hover {
          svg {
            opacity: 1;
          }
        }
      }
    }
  }
  section {
    display: none;
  }
  @media screen and (max-width: 575px) {
    .owl-carousel {
      .owl-nav {
        top: 5%;
        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  .btn-primary {
    @extend %name-btn;
  }
  /* Center website */
  .main {
    margin: 0 auto;
    h1,
    h2 {
      text-align: center;
    }
  }

  /* Add padding BETWEEN each column */
  .row {
    padding: 8px;
  }

  /* Create three equal columns that floats next to each other */
  .column {
    display: flex !important;
    flex-wrap: wrap;
    width: 33.33%;
    display: none; /* Hide all elements by default */
    @media (max-width: $tablet) {
      width: 50%;
    }
    @media (max-width: $mobile-large) {
      width: 100%;
    }
  }

  /* Content */
  .content {
    background-color: $light-grey;
    padding: 10px;
  }

  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }

  /* Style the tab */
  .tab {
    overflow: hidden;
  }

  /* Style the buttons inside the tab */
  .tab {
    margin-left: 10px !important;
    button {
      @extend %name-btn;
      @include btn-hover-effect;
    }
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  .header {
    text-align: center;
    padding: 32px;
  }

  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  .column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }
  .wallpaper-img {
    overflow: hidden;
    transition: 1s all ease;
    border: 5px solid $white;
    img {
      transition: 1s all ease;
      overflow: hidden;
      padding: 20px 0;
      &:hover {
        transition: 1s all ease;
        transform: scale(1.05);
      }
    }
  }
}
